@namespace MadeLib
<Router AppAssembly="@this.GetType().Assembly" PreferExactMatches="@true" >
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MadeLib.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MadeLib.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address :(</p>            
        </LayoutView>
    </NotFound>
</Router>
