@page "/createNewProject"
@inject MadeLib.Src.ProjectManager projectManager
@inject IJSRuntime JSRuntime;

<link href="_content/MadeLib/css/pages/createNewProject.css" rel="stylesheet" />
<form class="input-container" id="newProjectForm" @onsubmit="CreationFormOnsubmit">
    <header class="new-project-header">Set up new project</header>
    <p class="new-line"><label class="new-project-label">Project path: </label></p>
    <p class="new-line">
        <input class="new-project-input" type="text" id="path-input" required autocomplete="off" @bind="FolderPath" name="@(DateTime.Now.ToLongDateString()+"FolderPath")">
        <button id="openFileExplorerBtn" class="open-file-explorer-btn" type="button" @onclick="FillForm">...</button>
    </p>
    <p id="warning" class="warning"></p>
    <p class="new-line"> <label class="new-project-label">Name: </label> </p>
    <p class="new-line">
        <input class="new-project-input" type="text" id="name-input" required autocomplete="off" @bind="Name" name="@(DateTime.Now.ToLongDateString()+"Name")">
    </p>
    <p class="new-line"> <label class="new-project-label">Version: </label> </p>
    <p class="new-line">
        <input class="new-project-input" type="text" id="version-input" required autocomplete="off" @bind="Version" name="@(DateTime.Now.ToLongDateString()+"Version")" />
    </p>
    <p class="new-line"> <label class="new-project-label">Mod loader: </label> </p>
    <p class="new-line">
        <select @bind="ModLoader" class="loader-select" required id="loader-input">
            @foreach (var loader in Loaders)
            {
                <option value="@loader">@loader</option>
            }
        </select>
    </p>
    <button class="create-btn" type="submit">Create</button>
</form>
<a class="cancel-btn no-underline" href="/startingActions">Cancel</a>
<dialog id="warningDialog" class="warning-dialog">
    <p class="warning-dialog-p" id="warningDialogString"></p>
    <div class="warning-dialog-btns-container">
        <p></p>
        <button id="openGithubBtn" class="warning-dialog-btn-open">Github</button>
        <button id="closeWarningDialog" class="warning-dialog-btn-ok" @onclick="CloseWarningDialog">Ok</button>
    </div>
</dialog>
@code {
    private string FolderPath { get; set; }
    private string Name { get; set; }
    private string Version { get; set; }
    private Loader ModLoader { get; set; } = Loader.Forge;
    private IEnumerable<string> Loaders => Enum.GetNames(typeof(Loader));
    private ElementReference WarningDialog;

    private void FillForm()
    {
        string path = projectManager.ChooseFolder();

        if (!string.IsNullOrEmpty(path))
        {
            FolderPath = path;
            ProjectCreationInformation creationInformation = projectManager.GetInformationToFillCreationForm(path);
            if (!string.IsNullOrEmpty(creationInformation.ModLoader.ToString()))
            {
                Name = creationInformation.Name;
                Version = creationInformation.Version;
                ModLoader = (Loader)creationInformation.ModLoader;
                hideWarning();
            }
            else
            {
                ShowWarning();
                Name = "";
                Version = "";
                ModLoader = Loader.Forge;
            }
        }
    }
    private async void CreationFormOnsubmit()
    {
        if (await isVersionSupported())
        {
            CloseWarningDialog();
            //if (projectManager.TryCreateProject(Name, FolderPath, Version, ModLoader))
            //{

            //}
        }
        else
        {
            ShowWarningDialog();
        }



    }
    private async Task<bool> isVersionSupported() { return await JSRuntime.InvokeAsync<bool>("isVersionSupported", Version, ModLoader.ToString()); }
    private async void ShowWarningDialog() { await JSRuntime.InvokeVoidAsync("showUnsupportedVersionMessage", Version, ModLoader.ToString()); }
    private async void CloseWarningDialog() { await JSRuntime.InvokeVoidAsync("closeModal"); }
    private async void ShowWarning() { await JSRuntime.InvokeVoidAsync("showWarning"); }
    private async void hideWarning() { await JSRuntime.InvokeVoidAsync("hideWarning"); }
}